@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

:root {
    --big: 'Poppins', sans-serif;
    --small: 'Open Sans', sans-serif;
}

h3 {
    margin: 0.3rem 0rem;
    font-family: var(--small);
}